/* antd import */
@import "~antd/dist/antd.css";

body {
  /* background-image: url(https://yt3.ggpht.com/ytc/AKedOLQutvDNdPfH6G0MLxRlVpdRNUowyVLWngMqfwnQ=s88-c-k-c0x00ffffff-no-rj); */
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url("../data/images/background.png");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face { font-family: "Cafe24Ssurround"; src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff") format("woff"); font-weight: normal; font-style: normal; }

* {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff") format("woff");
}

.question {
  margin-right: 8px;
}
