.Count {
  padding: 2rem;
  margin: 1rem;

  border-radius: 2em;
  box-shadow: 1px 2px 2px #0d3b66;
  background-color: #faf0ca;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #0d3b66;
}
